alembic==1.3.2
Click==7.0
cycler==0.10.0
Flask==1.0.2
Flask-Material==0.1.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
Mako==1.1.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mpmath==1.1.0
numpy==1.15.4
pyparsing==2.3.0
python-dateutil==2.7.5
python-editor==1.0.4
six==1.11.0
SQLAlchemy==1.2.14
sympy==1.5
Werkzeug==0.15.3
