<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Disable or Enable an Input with jQuery</title>
    <style>
        label {
            display: block;
            margin: 10px 0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form input[type="text"]').prop("disabled", true);
            $(".asd").click(function () {
                if ($(this).prop("checked") == true) {
                    $('form input[type="text"]').prop("disabled", false);
                } else if ($(this).prop("checked") == false) {
                    $('form input[type="text"]').prop("disabled", true);
                }
            });
        });
    </script>
</head>
<body>
<form>
    <label>Name: <input type="text" name="username"></label>
    <label>Email: <input type="text" name="email"></label>
    <label><input type="checkbox" class="asd"> I agree to terms and conditions.</label>
    <input type="submit" value="Submit">
</form>
</body>
</html>