{% extends "base.html" %}
{% block head %}



{% endblock %}

{% block body %}



    <div class="content">


        {% if blends|length < 1 %}


        {% else %}
            <table>
                <tr>
                    <th>Blend ID</th>
                    <th>Location</th>
                    <th>Tank Volume</th>
                    <th>Actual Rvp</th>
                    <th>Actual V/L</th>
                    <th>Actual T50</th>
                    <th>BBLs Needed</th>
                </tr>
                {% for bl in blends %}
                    <tr>
                        <td>{{ bl.id }}</td>
                        <td> {{ bl.location }} </td>
                        <td> {{ bl.tankvolume }} </td>
                        <td> {{ bl.actualrvp }} </td>
                        <td> {{ bl.actualvl }} </td>
                        <td> {{ bl.actualt50 }} </td>
                        <td> {{ bl.finalcalc }} </td>
                        <td>
                            <a href="/delete/{{ bl.id }}">Delete</a>
                            <br>
                            <a href="/update/{{ bl.id }}">Update</a>
                            <br>
                            <a href="/autocalc/{{ bl.id }}">Calculate</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <br>
        <a href="/newblend/" class="btn-floating btn-large waves-effect waves-light red"><i
                class="material-icons">add</i></a>


    </div>




{% endblock %}
