<!DOCTYPE html>
<html>

<head>
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body>

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">Blend Calculator</a>
            <a href="#" class="sidenav-trigger" data-target="slide_out"><i class="material-icons">menu</i></a>

            <ul class="hide-on-med-and-down right">
                <li class="active"><a href="/">All Blends</a></li>
                <li><a href="/update_targets">Modify Targets</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="slide_out">
    <li class="active"><a href="/">All Blends</a></li>
    <li><a href="/update_targets">Modify Targets</a></li>
</ul>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    const slide_menu = document.querySelectorAll(".sidenav");
    M.Sidenav.init(slide_menu, {});
</script>

<script>
    const Calender = document.querySelector('.datepicker');
    M.Datepicker.init(Calender, {});
</script>
</body>
</html>