{% extends 'base.html' %}

{% block head %}
    <title>New Blend </title>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form input[name="t50vl"]').prop("disabled", true);
            $(".test").click(function () {
                if ($(this).prop("checked") == true) {
                    $('form input[name="t50vl"]').prop("disabled", false);
                } else if ($(this).prop("checked") == false) {
                    $('form input[name="t50vl"]').prop("disabled", true);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div class="content">
        <br>
        <br>
        <div class="card-panel">
            <h4 style="text-align: center">Add Blend</h4>

            <div class="form">
                <form action="/newblend/" method="POST">
                    <label>
                        <input type="checkbox" class="test">
                        <span>V/L or T50 Blend</span>
                    </label>

                    <input placeholder="Location" type="text" name="newlocation" id="newlocation" class="validate"
                           required>


                    <input placeholder="Blend Date" type="text" class="datepicker" name="newblenddate"
                           id="newblenddate">
                    <input placeholder="Tank Volume" type="number" name="newtankvolume" id="newtankvolume">


                    <input placeholder="Actual RVP" type="text" name="newactualrvp" id="newactualrvp">


                    <input placeholder="Actual V/L" type="text" name="t50vl" id="newactualvl">


                    <input placeholder="Actual T50" type="text" name="t50vl" id="newactualt50">

                    <button class="btn waves-effect waves-light" type="submit" name="action">Save Blend
                        <i class="material-icons right">save</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        const Calender = document.querySelector('.datepicker');
        M.Datepicker.init(Calender, {});
    </script>

    <script>
        const Dropdown = document.querySelector('select');
        M.FormSelect.init(Dropdown, {});
    </script>




{% endblock %}