{% extends 'base.html' %}

{% block head %}
    <title>Task Master </title>
{% endblock %}

{% block body %}

    <div class="content">
        <h4 style="text-align: center">Update Blend</h4>

        <div class="form">
            <form action="/update/{{ blend.id }}" method="POST">


                <input placeholder="Location" type="text" name="location" id="location" value="{{ blend.location }}">
                <label class="active" for="location">Location</label>


                <input type="text" name="tankvolume" id="tankvolume" value="{{ blend.tankvolume }}">
                <label class="active" for="tankvolume">Tank Volume</label>


                <input type="text" name="actualrvp" id="actualrvp" value="{{ blend.actualrvp }}">
                <label class="active" for="actualrvp">Actual RVP</label>

                <input type="text" name="actualvl" id="actualvl" value="{{ blend.actualvl }}">
                <label class="active" for="actualvl">Actual V/L</label>


                <input type="text" name="actualt50" id="actualt50" value="{{ blend.actualt50 }}">
                <label class="active" for="actualt50">Actual T50</label>

                <br>
                <br>
                <button class="btn waves-effect waves-light" type="submit" name="action">Update Blend
                    <i class="material-icons right">save</i>
                </button>
            </form>
        </div>
    </div>

{% endblock %}