{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}
    <table class="highlight">
        <thead>
        <tr>

            <th>State</th>
            <th>Target Date</th>
            <th>Tank Volume</th>
            <th>Target Rvp</th>
            <th>Target V/L</th>

        </tr>
        </thead>
        {% for bl in targets %}
            <tbody>
            <tr>

                <td> {{ bl.targetstate }} </td>
                <td>{{ bl.targetdate }}</td>
                <td> {{ bl.targetRVP }} </td>
                <td> {{ bl.targetvl }} </td>

                <td>

                    <a href="/update/{{ bl.id }}">Update</a>
                    <br>
                    <a href="/delete/{{ bl.id }}">Delete</a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    <br>
    <a href="/newblend/" class="btn-floating btn-large waves-effect waves-light red"><i
            class="material-icons">add</i></a>


    </div>






{% endblock %}